.homepage {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5px;
  row-gap: 20px;
}

.img-homepage img {
  width: 300px;
  height: auto;
  object-fit: cover;
  }

.img-homepage {
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.background {
    color: white;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

.footer {
    background-color: transparent;
    font-family: "Courier New", Courier, monospace;
    padding: 3em;
  }

  .sign-up {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    background-image: url('..public/images/Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    box-sizing: border-box; 
    font-size: 25px;

  }
  
  .sign-up input,
  .sign-up select,
  .sign-up button {
    display: block;
    width: 100%;
    margin-bottom: 15px; 
  }

.homepage-text {
  padding: 2em;
}

h1 {
  padding: 1em;
}

button {
  padding: 1em;
  font-family: "Courier New", Courier, monospace;
  align-items: centers;
}

table {
  margin: auto;
}

table, th, td {
  border: solid;
  padding: 1em;
}

caption {
  padding: 1em;
  font-size: 25px;
}

.homepage-buttons {
  display: grid;
  margin: 30px;
  align-items: centers;
}
